pipeline/Child_Data_FS_ADLS_GTL.json
{
	"name": "Child_Data_FS_ADLS_GTL",
	"properties": {
		"activities": [
			{
				"name": "ExpInfo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_get_file_path]",
						"storedProcedureParameters": {
							"country_code": {
								"type": "String",
								"value": "Houston"
							},
							"file_process_status": {
								"type": "String",
								"value": "Arrived"
							},
							"file_shortname": {
								"type": "String",
								"value": "Run Request"
							},
							"filesource": {
								"type": "String",
								"value": "STCH"
							},
							"file_sub_short_name": {
								"type": "String",
								"value": "Catalyst and Tube"
							},
							"file_name": {
								"type": "String",
								"value": "A3040"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Fs_Adls_ExpInfo",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ExpInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ExpInfo').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy ExpInfo",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": false
								},
								"enableStaging": false
							}
						}
					]
				}
			},
			{
				"name": "MuSyCon",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Fs_Adls_ExpInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_get_file_path]",
						"storedProcedureParameters": {
							"country_code": {
								"type": "String",
								"value": "Houston"
							},
							"file_process_status": {
								"type": "String",
								"value": "Arrived"
							},
							"file_shortname": {
								"type": "String",
								"value": "Run Request"
							},
							"filesource": {
								"type": "String",
								"value": "STCH"
							},
							"file_sub_short_name": {
								"type": "String",
								"value": "Feed-Target Condition"
							},
							"file_name": {
								"type": "String",
								"value": "A3040"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Fs_Adls_MuSyCon",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MuSyCon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MuSyCon').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Cpy MuSyCon",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"variables": {
			"Revision_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dev_STCH"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}