pipeline/Einstein_Catalyst_Samples_Load_GTL.json
{
	"name": "Einstein_Catalyst_Samples_Load_GTL",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "DMKE_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('DMKE_Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CPY_FS_ADLS_CB_CT_Numbers",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureDataLakeStoreReadSettings",
										"recursive": false,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table  [stg].[Src_DMKE_CT_CatalystSample]",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "ds_adls_catalystsamples",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": {
											"value": "@item().adls_landing_file_path",
											"type": "Expression"
										},
										"file_patch": "*.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_asql_src_catalystsamples",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Lookup4",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CPY_FS_ADLS_CB_CT_Numbers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT STUFF((SELECT ',' +  'CT-'+convert (nvarchar(10),ct_number)\n            FROM stg.Src_CatalystSample \n\t\t\t--where catalyst_id like '%ct%'\n            FOR XML PATH('')) ,1,1,''\n\t\t\t) AS ctnumber,NULL as cbnumber"
								},
								"dataset": {
									"referenceName": "ds_asql_dest",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Lookup4').output.firstRow.ctnumber,null)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Cpy_DMKE_ADLS_CT_Numbers",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderStoredProcedureName": "[dbo].[spExtractCatalystPropertiesDMKE_GTL]",
												"storedProcedureParameters": {
													"catlystNameList": {
														"type": "String",
														"value": {
															"value": "@activity('Lookup4').output.firstRow.ctnumber",
															"type": "Expression"
														}
													},
													"cbNumberList": {
														"type": "String",
														"value": {
															"value": "@activity('Lookup4').output.firstRow.cbnumber",
															"type": "Expression"
														}
													}
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureDataLakeStoreWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_src_aws_sql_gtl",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_dest_adls_dkme_sample_ct",
												"type": "DatasetReference",
												"parameters": {
													"folder_path": {
														"value": "@item().dmke_file_path",
														"type": "Expression"
													},
													"file_path": {
														"value": "Catalystsamples_CT.csv",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "DMKE_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_get_filename]",
						"storedProcedureParameters": {
							"file_name": {
								"type": "String",
								"value": "0094"
							},
							"file_process_status": {
								"type": "String",
								"value": "Arrived"
							},
							"file_shortname": {
								"type": "String",
								"value": "ExpInfo"
							},
							"file_sub_short_name": {
								"type": "String",
								"value": "ExpInfo"
							},
							"filesource": {
								"type": "String",
								"value": "STCA"
							}
						}
					},
					"dataset": {
						"referenceName": "ds_asql_dest",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"Revision_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DEV_GTL"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}