pipeline/Master_Get_Metadata_GTL_STCA.json
{
	"name": "Master_Get_Metadata_GTL_STCA",
	"properties": {
		"activities": [
			{
				"name": "hte_getmetadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "hte source Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": []
				}
			},
			{
				"name": "hte source Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_get_datasource]",
						"storedProcedureParameters": {
							"file_source": {
								"type": "String",
								"value": "STCA"
							}
						}
					},
					"dataset": {
						"referenceName": "Ds_Asql_GetSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Run Request",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "hte_getmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('hte_getmetadata').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "sp_run_request",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_insert_filelog_run_request]",
								"storedProcedureParameters": {
									"file_size": {
										"value": "0",
										"type": "Decimal"
									},
									"filename": {
										"value": {
											"value": "@item().name ",
											"type": "Expression"
										},
										"type": "String"
									},
									"filesource": {
										"value": "STCH",
										"type": "String"
									},
									"last_modified_date": {
										"value": {
											"value": "@activity('hte_getmetadata').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Reactor Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Run Request",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('hte_getmetadata').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "sp_reactor_data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_insert_filelog_reactor_data]",
								"storedProcedureParameters": {
									"file_size": {
										"value": "0",
										"type": "Decimal"
									},
									"filename": {
										"value": {
											"value": "@item().name ",
											"type": "Expression"
										},
										"type": "String"
									},
									"filesource": {
										"value": "STCH",
										"type": "String"
									},
									"last_modified_date": {
										"value": {
											"value": "@activity('hte_getmetadata').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Summary Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Reactor Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('hte_getmetadata').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SP_summary_data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_insert_filelog_summary]",
								"storedProcedureParameters": {
									"file_size": {
										"value": "0",
										"type": "Decimal"
									},
									"filename": {
										"value": {
											"value": "@item().name ",
											"type": "Expression"
										},
										"type": "String"
									},
									"filesource": {
										"value": "STCH",
										"type": "String"
									},
									"last_modified_date": {
										"value": {
											"value": "@activity('hte_getmetadata').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Dev_STCH"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}